<div id="main-content">
  <div class="icon">
    <img height="5%" width="5%" src="../../../assets/favicon.ico" />404
  </div>
  <div id="main-message">
    <h1>未能找到你的对象</h1>
    <div>
      <p>请试试以下方法:</p>
      <ul class="">
        <li style="cursor:pointer;margin-bottom: 0.2rem;" (click)="backPage()">
          检查身高、颜值和银行卡存款
        </li>
        <li>
          <a href="#"> 重新降临到这个世界</a>
        </li>
      </ul>
    </div>
    <div class="error-code">CAN_NOT_FIND_THE_OBJECT</div>
  </div>
</div>
